.popup {
    position: absolute;
    width: 310px;
    height: 30px;
    background: #ffffff;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media (max-width: 470px) {
    .popup {
        top: 85px;
    }
}

.popup__text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.popup__button_close {
    border: none;
    background-color: transparent;
    background-image: url("../img/Close-Icon.svg");
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popup__button_close:hover {
    opacity: .5;
}